<div class="about-container">
  <section class="about-card">
    <h2>Sobre Nosotros</h2>
    <p>
      Bienvenido a nuestra plataforma dedicada al mundo del gaming.
      Nuestro objetivo es ofrecer reseñas imparciales y actualizadas sobre los
      últimos lanzamientos del mercado.
    </p>
    <p>
      Nuestra plataforma cuenta con una extensa cantidad de titulos para todas las plataformas que puedes reseñar,
      creada por jugadores para jugadores.
    </p>

    <div class="info-grid">
      <div class="info-item">
        <b>Proyecto</b>
        <span>RateMyGame</span>
      </div>
      <div class="info-item">
        <b>Plataformas</b>
        <span>Instagram, Facebook y X</span>
      </div>
      <div class="info-item">
        <b>Estado</b>
        <span>Versión Final</span>
      </div>
      <div class="info-item">
        <b>Compañia</b>
        <span>RateMyGame S.L.</span>
      </div>
    </div>
  </section>
</div>
