/* styles.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: #121212; 
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
}

/* Para que la app ocupe toda la pantalla y el footer no flote */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}